
.frogs
{
  transform:rotate(270deg);
  -ms-transform:rotate(270deg); /* IE 9 */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
}

#titleystuff 
{
  position:absolute;
  top:2px;
}

#example-hop
{
  width:300px;
  height:290px;
  display: inline-block;
  padding: 15px;
}

#example-wait
{
  width:300px;
  height:290px;
  display: inline-block;
  padding: 15px;
}

#example-eat
{
  width:300px;
  height:290px;
  display: inline-block;
  padding: 15px;
}

#example-hatch 
{
  width:500px;
  height:490px;
  display: inline-block;
  padding: 15px;
}

#example-turn 
{
  width:500px;
  height:490px;
  display: inline-block;
  padding: 15px;
}

#challenge
{
  width:800px;
  height:590px;
  display: inline-block;
  padding: 15px;
}

#bottomline 
{
  position:absolute;
  left:125px;
  top:620px;
}