
.frogs
{
  transform:rotate(270deg);
  -ms-transform:rotate(270deg); /* IE 9 */
  -webkit-transform:rotate(270deg); /* Safari and Chrome */
}

#titleystuff 
{
  position:absolute;
  top:2px;
}

#example-hop
{
  position:absolute;
  left:10px;
  top:130px;
  width:300px;
  height:290px;
}

#example-wait
{
  position:absolute;
  left:320px;
  top:130px;
  width:300px;
  height:290px;
}

#example-eat
{
  position:absolute;
  left:650px;
  top:130px;
  width:300px;
  height:290px;
}

#example-hatch 
{
  position:absolute;
  left:10px;
  top:130px;
  width:500px;
  height:490px;
}

#example-turn 
{
  position:absolute;
  left:500px;
  top:130px;
  width:500px;
  height:490px;
}

#challenge
{
  position:absolute;
  left:100px;
  top:100px;
  width:800px;
  height:590px;
}