/**
 * Frog Pond
 *
 * Michael S. Horn
 * Northwestern University
 * michael-horn@northwestern.edu
 * Copyright 2013, Michael S. Horn
 *
 * This project was funded in part by the National Science Foundation.
 * Any opinions, findings and conclusions or recommendations expressed in this
 * material are those of the author(s) and do not necessarily reflect the views
 * of the National Science Foundation (NSF).
 */
@charset "utf-8";

* { 
   -webkit-user-select: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);    
}


body {
   margin: 0;
   padding: 0;
   color: #ccc;
   background-color: #333;
   font: 200 14pt 'Helvetica Neue', sans-serif;
}


/* Table of contents */
#toc {
  width: 1004px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #969;
  color: white;
  font: 200 20pt 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}


/* iPad 2 landscape dimensions */
#content {
  width: 1024px;
  height: 720px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  left: 0px;
  top: 48px;
  margin: 0px;
  padding: 0px;
  color: #222;
}


#overlay {
  width: 1024px;
  height: 768px;
  position: absolute;
  left: 0px; top: 0px;
  background-color: transparent;
  visibility: hidden;
}


canvas {
   position: absolute;
   top: 0px;
   left: 0px;
   padding: 0px;
   margin: 0px;
}


#pond {
   z-index: 0;
   background-image: url('../images/texture2.png');
   background-repeat: repeat;
   background-position: 0 0;
}


.dialog {
  background-color: rgba(0, 0, 0, 0.75);
  width: 750px;
  height: 580px;
  border-radius: 20px;
  position: absolute;
  top: 40px;
  left: 112px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  font: 30px sans-serif;
  color: white;
  padding-left: 50px;
  padding-top: 20px;
}


#plot {
  position: static;
  margin-left: auto;
  margin-right: auto;
}


#mini-plot {
  position: absolute;
  top: 5px;
  left: auto;
  right: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}


#if-popover {
  left: 200px;
  top: 550px;
}


/* TOOLBAR */
#toolbar {
  /*
   background-color: rgb(22, 49, 79);
   border-radius: 15px;
   border: 2px solid white;
   */
   position: absolute;
   bottom: 40px;
   right: 0px;
   text-align: center;
   padding: 5px;
   width: 260px;
   height: 40px;
}

#toolbar button {
   outline: none;
   border: none;
   width: 30px;
   height: 30px;
   margin-left: 6px;
   margin-right: 6px;
   margin-top: 3px;
   display: inline-block;
   background-color: transparent;
   background-repeat: no-repeat;
}

#toolbar button:active {
  background-position: 2px 2px;
}

#play-button { background-image: url("../images/toolbar/play.png"); }
#restart-button { background-image: url("../images/toolbar/restart.png"); }
#fastforward-button { background-image: url("../images/toolbar/fastforward.png"); }
#camera-button { background-image: url("../images/toolbar/camera.png"); }
#settings-button { background-image: url("../images/toolbar/code.png"); }
#plot-button { background-image: url("../images/toolbar/plot.png"); }

.close-button {
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../images/toolbar/close.png");
}

.close-button:active {
  background-position: 3px 3px;
}


/* Settings */
#settings-list {
  font: 200 14px sans-serif;
  margin-top: 50px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #333;
  width: 700px;
}

.setting {
  padding: 20px;
}

.setting-description {
  width: 250px;
  text-align: right;
  display: inline-block;
}


.setting-control {
  width: 320px;
  text-align: left;
  padding-left: 40px;
  display: inline-block;
}


/* Toggle switch */
.toggle-switch {
  width: 50px;
}


label {
  margin-left: 10px;
}


.slider {
   width: 200px;
}