/**
 * Frog Pond
 *
 * Michael S. Horn
 * Northwestern University
 * michael-horn@northwestern.edu
 * Copyright 2013, Michael S. Horn
 *
 * This project was funded in part by the National Science Foundation.
 * Any opinions, findings and conclusions or recommendations expressed in this
 * material are those of the author(s) and do not necessarily reflect the views
 * of the National Science Foundation (NSF).
 */
@charset "utf-8";

* { 
   -webkit-user-select: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);    
}


body {
   margin: 0;
   padding: 0;
   color: #ccc;
   background-color: #333;
}


/* iPad 2 landscape dimensions */
#content {
  width: 1024px;
  height: 748px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
}


canvas {
   position: absolute;
   top: 0px;
   left: 0px;
   padding: 0px;
   margin: 0px;
}


#pond {
   z-index: 0;
   background-image: url('../images/texture2.png');
   background-repeat: repeat;
   background-position: 0 0;
}


#frogs { z-index: 1; }
#flies { z-index: 2; }
#workspace1 { z-index: 3; }


