@charset "utf-8";

* { 
   /* -webkit-user-select: none; */
   -webkit-tap-highlight-color: rgba(0,0,0,0);    
}

body {
   margin: 0;
   padding: 0;
   color: #ccc;
   font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   line-height: 1.625;
   overflow: hidden;
   background-color: #445368;
}

#frog-patches {
   background-image: url('images/texture.png');
   position: absolute;
   left: 50px;
   top: 50px;
   z-index: 0;
}

#frog-turtles {
   position: absolute;
   left: 50px;
   top: 50px;
   z-index: 1;
   border: 1px solid black;
}

#frog-code {
   position: absolute;
   visibility: hidden;
   left: 700px;
   top: 50px;
   width: 500px;
   height: 600px;
   background-color: #fff;
   border: 1px solid black;
   z-index: 5;
}

#frog-toolbar {
   width: 160px;
}

#restart-button {
   margin-right: 5px;
}

.toolbar {
   left: 70px;
   top: 600px;
   bottom: auto;
}
