@charset "utf-8";

* { -webkit-user-select: none; }

body {
   margin: 0;
   padding: 0;
   color: #ccc;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
   overflow: hidden;
   background-color: #005368;
   overflow: hidden;
}

#content {
   background: -moz-linear-gradient(top, #068, #005368);
   background: -webkit-linear-gradient(top, #068, #005368);
}
